@using Vidly.ViewModel
@model MoviesTemplateViewModel
    @{ 
        ViewBag.Title = Model.Title;
    }
@using (Html.BeginForm("Create", "Movies", FormMethod.Post))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.HiddenFor(m => m.Id)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GenreId)
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "GenreType"), "Select Genre type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GenreId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Year)
        @Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Year)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Detail)
        @Html.TextBoxFor(m => m.Detail, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Detail)
    </div>

    <div class="form-group">
        <button type="submit" style="width:20%;height:20%" class="btn-primary">Add Movie</button>
    </div>
}
<h2>Add new movies</h2>
@Html.Partial("_EditBody")

@section scripts{

    @Scripts.Render("~/bundles/jqueryval")
}