@*@using Vidly.ViewModel
@model SomeFilmViewModel
@{
    ViewBag.Title = "Index";
}*@

@using (Html.BeginForm("NewCustomer", "Customer", FormMethod.Get))
{
    <br /><br />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">New Customer</button>
    </div>
}
<div class="table-hover">
    <table id="customers" class="table table-bordered">
        <thead>
            <tr>
                <th id="Id">
                    <h5>№</h5>
                </th>
                <th id="Name">
                    <h5>Name</h5>
                </th>
                <th>
                    <h5>Birthday</h5>
                </th>
                <th>
                    <h5>Email</h5>
                </th>
                <th>
                    <h5>MemberShip</h5>
                </th>
                <th>
                    <h5>Delete</h5>
                </th>

            </tr>
        </thead>
        @*@foreach (var item in Model.Customers)
            {
                <tr>
                    <td style="text-align:left;margin:1px 2px 1px 2px">
                        @item.Id
                    </td>
                    <td style="text-align:center">
                        @Html.ActionLink(item.Name, "Details", item)
                    </td>
                    <td>
                        @item.Birthhday
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.MemberShip.MemberShipType
                    </td>
                    <td>
                        <button data-customer-id="@item.Id" class="btn-link js-delete">Delete</button>
                    </td>

                </tr>
            }*@
    </table>
</div>
    @section scripts{
        <script>
            $(document).ready(function () {

                    var table = $("#customers").DataTable({
                        ajax: {
                            url: "/api/customers/",
                            dataSrc: ""
                        },
                        columns: [
                            {
                                data: "Id",                               
                            },

                            {
                                data: "Name",
                                render: function (data, type, customer) {
                                    return "<a href='/Customer/Details/" + customer.Id + "'>" + customer.Name;
                                }
                            },
                            {
                                data: "Birthhday",                               
                            },
                            {
                                data: "Email",                               
                            },
                            {
                                data: "MemberShip.MemberShipType",                               
                            },
                            {
                                data: "Id",
                                render: function (data) {
                                    return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                                }
                            }
    
                        ]
                    });
                

                $("#customers").on("click", ".js-delete", function () {
                    var button = $(this);
                    bootbox.confirm("Are you sure to want delete customer ?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "api/customers/" + button.attr("data-customer-Id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            })
                        }
                    });

                });
            });
        </script>
    }





