@using Vidly.ViewModel
@model CustomerTemplateViewModel

@using (Html.BeginForm("Create", "Customer", FormMethod.Post))
{

    @Html.HiddenFor(m => m.Customer.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthhday)
        @Html.TextBoxFor(m => m.Customer.Birthhday, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Email)
        @Html.TextBoxFor(m => m.Customer.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MemberShipId)
        @Html.DropDownListFor(m => m.Customer.MemberShipId, new SelectList(Model.MemberShips, "Id", "MemberShipType"), Model.Customer.Name == null ? "Select some memberShips" : Model.MemberShips.First(m => m.Id == Model.Customer.MemberShipId).ToString(), new { @class = "form-control" })
    </div>

    <div class="btn-block">
        <button type="submit" class="btn-primary" style="width:20%;height:20%">Add</button>
    </div>

}
